<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/8900819e61.js" crossorigin="anonymous"></script>

    <title>Breach Solver</title>
</head>


<body class="bg-dark text-light">

<main class="container">

<div class="row">

<span><a href="http://homepages.inf.ed.ac.uk/s1202948/"><i class="fas fa-university text-info"></i></a>     <a href="https://github.com/alexanderrobertson/"><i class="fab fa-github text-info"></i></a>     <a href="https://www.linkedin.com/in/robertsonalexander/"><i class="fab fa-linkedin text-info"></i></a>     <a href="https://twitter.com/a_d_robertson" class="icon fa-linkedin-square"><i class="fab fa-twitter text-info"></i></a></span>


</div>

    <div class="py-5">
        <h1>Breach Solver
            <button type="button" class="btn btn-primary bg-info" data-bs-toggle="modal"
                    data-bs-target="#instructions_modal">
                <img src="{{ url_for('static', filename='images/info.png') }}" height="25px">
            </button>
        </h1>
        <p class="lead">Find the best solution for a given breach puzzle</p>


        <!-- Modal -->
        <div class="modal fade" id="instructions_modal" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header bg-secondary">
                        <h5 class="modal-title bg-secondary" id="instructions_modal_label">Instructions</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body bg-secondary">
                        <table class="table text-light">
                            <thead>
                            <tr>
                                <th scope="col">Input</th>
                                <th scope="col">Description</th>
                                <th scope="col">Example</th>
                                <th scope="col">Required Format</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">Code Matrix</th>
                                <td>First character of each row, top to left, with no spaces</td>
                                <td><img src="{{ url_for('static', filename='images/grid.png') }}" height="100px"></td>
                                <td>11beb1cb11ebb15b51e155</td>
                            </tr>
                            <tr>
                                <th scope="row">Targets</th>
                                <td>First character of each item, top row to bottom, with a space between each row</td>
                                <td><img src="{{ url_for('static', filename='images/target.png') }}" height="100px">
                                </td>
                                <td>5b 15 5e1</td>
                            </tr>
                            <tr>
                                <th scope="row">Buffer Size</th>
                                <td>How many selections you are allowed to make</td>
                                <td><img src="{{ url_for('static', filename='images/buffer.png') }}" height="100px">
                                </td>
                                <td>4</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer bg-secondary">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col"></div>
        <div class="col"><img src="{{ image }}"></div>
        {% if data == 'empty' %}
        <div class="col"></div>
        {% else %}
        {% if data %}
        <div class="col">
            Total targets matched: {{ data['matched']|length }}<br>
            Which targets? {{ data['matched'] }}<br>
            Sequence: {{ data['sequence'] }}<br>
            Path: {{ data['readable_path'] }}
        </div>
        {% else %}
        <div class="col">No solution found. Try a larger buffer size.</div>
        {% endif %}
        {% endif %}

    </div>


    <div class="row py-5">

        <div class="col">
            <h4 class="mb-4">Input</h4>
            <form method="POST">
                <div class="row">
                    <div class="col-4">
                        <label for="grid" class="form-label">Code Matrix</label>
                        <input type="text" class="form-control" name="grid" id="grid" placeholder=""
                               value="5bb1eb51111b11beeeb11511b">
                    </div>

                    <div class="col-4">
                        <label for="targets" class="form-label">Targets</label>
                        <input type="text" class="form-control" name="targets" id="targets" placeholder=""
                               value="1e be e1b1">
                    </div>
                    <div class="col-1">
                        <label for="buffer" class="form-label">Buffer Size</label>
                        <input type="number" class="form-control" name="buffer" id="buffer" placeholder="" value="4">
                    </div>
                    <div class="col-1">
                        <label for="go" class="form-label">&nbsp</label><br>
                        <button class="btn bg-info" id='go' type="submit">Solve</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</main>

</body>
</html>